body{
    background-color: rgb(47, 42, 61);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    background-color: rgb(100, 55, 86);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.2);
}
.container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(129, 7, 127, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 25px 25px 35px rgba(0, 0, 0, 0.3);


}
input{
    
    height: 20px;
    width: 200px;
    margin: 10px;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: none;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 42, 61);
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: rgb(146, 80, 127);
    color :rgb(225, 245, 112);
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#bmiValue{
    height: 30px;
    text-align: center;
    width: 80px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(222, 217, 213);
    color: rgb(47, 42, 61);
    border-radius: 10px;
    padding:15px;
}